<ng-container *ngIf="!isPieceMode">
  <ng-container *ngIf="gameDataElement">
    <ng-container *ngIf="gameDataElement.children.length < 1">
      <ng-container [ngSwitch]="gameDataElement.type">
        <ng-container *ngSwitchCase="'numberResource'">
          <div class="table-cell" style="border-bottom:none;">
            <button (click)="deletBuff(gameDataElement)" style="width:5em;">削除</button>
          </div>
          <div class="table table-cell" style="" style="border-bottom:none">
            <div class="table-cell" style="width:60%;">
              <ng-container *ngIf="!isTagLocked"><!-- NAME -->
                <div class="hidden-spacer" style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{name}}</div>

                <input class="is-caret" style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 0.9rem;" size="1"
                [(ngModel)]="name" placeholder="Value" >
              </ng-container>
            </div>
            <div class="table-cell" style="width:0px;">/</div>
            <div class="table-cell" style="width:30%;">
              <input class="is-caret" style="width:100%;" size="1" type="string" [(ngModel)]="currentValue" placeholder="Value" />
            </div>
            <div class="table-cell" style="width:0px;">/</div>
            <div class="table-cell" >
              <input class="is-caret" style="width: 3em;" size="1" type="number" [(ngModel)]="value" placeholder="Value" />
            </div>
            <div class="table-cell" >R</div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="table" style="width:100%;">

            <div class="table-cell_inner-table-title" >
              <ng-container *ngIf="!isTagLocked">
                <div class="inputLock" >{{gameDataElement.name}}</div>
<!--
                <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;"
                  size="1" [(ngModel)]="name" placeholder="Value" />
-->
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="0 < gameDataElement.children.length">
        <div class="table" style="width:100%;">
  
          <div class="table-cell_inner-table-title">
            <ng-container *ngIf="!isTagLocked">
                <div class="inputLock" >{{gameDataElement.name}}</div>
<!--
              <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;"
                size="1" [(ngModel)]="name" placeholder="Value" />
-->
            </ng-container>
          </div>

          <div class="table" *ngIf="0 < gameDataElement.children.length">
            <div game-data-element-buff class="table-row" *ngFor="let childElement of gameDataElement.children"
              [gameDataElement]="childElement" [isEdit]="isEdit" [isTagLocked]="isTagLocked"></div>
          </div>
      </div>
<!--    
-->
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="isPieceMode">
  <ng-container *ngIf="gameDataElement.children.length < 1">
    <ng-container [ngSwitch]="gameDataElement.type">
      <ng-container *ngSwitchCase="'numberResource'">
        <!-- 表示モード: クリックで編集 -->
        <span *ngIf="!isPieceModeEdit"
              class="piece-buff-display"
              (mousedown)="enterPieceModeEdit($event)"
              title="クリックして編集">
          {{gameDataElement.name}} / {{gameDataElement.currentValue}} / {{gameDataElement.value}}R
        </span>
        <!-- 編集モード -->
        <span *ngIf="isPieceModeEdit" class="piece-buff-edit">
          <span class="piece-buff-label">{{gameDataElement.name}} /</span>
          <input #currentValueInput
                 type="text"
                 class="piece-buff-input"
                 [(ngModel)]="currentValue"
                 (mousedown)="$event.stopPropagation()"
                 (click)="$event.stopPropagation()"
                 (focus)="onPieceInputFocus()"
                 (blur)="onPieceInputBlur()"
                 (keydown.enter)="isPieceModeEdit = false"
                 (keydown.escape)="isPieceModeEdit = false">
          <span class="piece-buff-label"> /</span>
          <input type="number"
                 class="piece-buff-input piece-buff-input-small"
                 [(ngModel)]="value"
                 (mousedown)="$event.stopPropagation()"
                 (click)="$event.stopPropagation()"
                 (focus)="onPieceInputFocus()"
                 (blur)="onPieceInputBlur()"
                 (keydown.enter)="isPieceModeEdit = false"
                 (keydown.escape)="isPieceModeEdit = false">
          <span class="piece-buff-label">R</span>
        </span>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="0 < gameDataElement.children.length">
     <div game-data-element-buff class="table-row" *ngFor="let childElement of gameDataElement.children"
      [gameDataElement]="childElement" [isEdit]="isEdit" [isTagLocked]="isTagLocked" [isPieceMode]="isPieceMode"></div>
    
  </ng-container>
</ng-container>


<ng-template #editButtons>
  <button (click)="addElement()"><i class="material-icons">add_circle</i></button>
  <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
  <br>
  <button (click)="deleteElement()"><i class="material-icons">remove_circle_outline</i></button>
  <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
</ng-template>